@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

#body_New_zealand{
  font-family: 'Montserrat', cursive;
}

#candy{
  font-size: 10rem;
  text-align: center;
  height:120vh;
  color: rgba(248, 241, 241, 0.9);
  font-family: 'Niconne', cursive;
  text-shadow: 5px 5px 0px rgba(235, 69, 43, 0.8),
                  10px 10px 0px rgba(239, 160, 50, 0.7),
                  15px 15px 0px rgba(70, 181, 155, 0.6),
                  20px 20px 0px rgba(1, 126, 127, 0.5),
                  25px 25px 0px rgba(5, 41, 57, 0.4),
                  30px 30px 0px rgba(193, 26, 43, 0.3);
  background: url(../ressources/images/fjord_2.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
}

.titre{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titre h2{
  font-size: 5rem;
  font-family: 'Niconne', cursive;
  color: rgba(20, 20, 20, 0.9);
}

.Card{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80vh;
  perspective: 900px;

}

#Fjord{
  background: url(../ressources/images/fjord_6.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 30%;
  left: 5%;
}

#Ville{
  background: url(../ressources/images/auckland.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 30%;
  left: 25%;
}

#Montagne{
  background: url(../ressources/images/tongariro_2.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 30%;
  right: 25%;
}

#Lac{
  background: url(../ressources/images/lac.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 30%;
  right: 5%;
}
.Liens_intra{
  text-decoration: none;
  color: rgba(20, 20, 20, 0.7);
  text-align: center;
}

.up-card{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: 0.5s all ease-out;
  transform: rotateX(60deg) scale(0.5);
  perspective: 900px;
}

.up-card:hover{
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: 0.5s all ease;
  z-index: 400;
}


/* ==============================FJORD============================= */

#FJORD{
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fjord_box{
  width: 75%;
  height: 35vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box_fjord{
  width: 49%;
  height: 100%;
}

#box_fjord_1{
  background: url(../ressources/images/fjord.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#box_fjord_2{
  background: url(../ressources/images/fjord.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#reverse{
  display: flex;
  flex-direction: row-reverse;
}

#box_fjord_3{
  background: url(../ressources/images/fjord.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.fjord_text{
  width: 49%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  transform: scale(0);
  background: url(../ressources/images/fjord.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
  text-shadow: 1px 1px 5px yellow;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box_fjord_1:hover + .fjord_text{
  transform: scale(1);
  transition: all 0.3s ease-out;
}


#box_fjord_2:hover + .fjord_text{
  transform: scale(1);
  transition: all 0.3s ease-out;
}


#box_fjord_3:hover + .fjord_text{
  transform: scale(1);
  transition: all 0.3s ease-out;
}


#VILLE{
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: url(../ressources/images/auckland_2.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.left_ville{
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#video_ville{
  width: 95%;
  height: 70%;
}

#txt_ville{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 95%;
  height: 25%;
  color: white;
  text-shadow: 2px 2px 10px black;
  text-align: center;
  font-size: 18px;
  background-color: rgba(20,20,20,0.9);
}

.right_ville{
  width: 25%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#bonne_adresse{
  background-color: rgba(20,20,20,0.8);
  color: white;
  padding: 10%;
}

.adresse_ville{
  width: 75%;
  height: 12%;
  background-color: rgba(255,255,255,0.5);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.adresse_ville a{
  text-decoration: none;
  color: black;
}


/* ===========================================MONTAGNE=========================================== */
#MONTAGNE{
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Third_Montagne{
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container_Montagne{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_Montagne{
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

#mont_cook{
  background: url(../ressources/images/mont_cook.jpg);
  background-size: cover;
}

#mont_ruapehu{
  background: url(../ressources/images/mont_ruapehu.jpg);
  background-size: cover;
}

#mont_taranaki{
  background: url(../ressources/images/mont_taranaki.jpg);
  background-size: cover;
}

#mont_ngauruhoe{
  background: url(../ressources/images/mont_ngauruhoe.jpg);
  background-size: cover;
}

#mont_tongario{
  background: url(../ressources/images/mont_tongario.jpg);
  background-size: cover;
}

#mont_tasman{
  background: url(../ressources/images/mont_tasman.jpg);
  background-size: cover;
}


/* =====================================LAC=============================== */

#LAC{
  margin-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Lac_newzealand{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5vh;
  background-color: rgb(153, 168, 178);
}
.Lac_newzealand_reverse{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5vh;
  background-color: rgb(31, 111, 139);
}

.lac_card{
  width: 45%;
  height: 90%;
}

#Lac_quill{
  background: url(../ressources/images/lac1.jpg) no-repeat center center;
  background-size: cover;

}

#Lac_matheson{
  background: url(../ressources/images/lac2.jpg) no-repeat center center;
  background-size: cover;
}

#Lac_waikaremoana{
  background: url(../ressources/images/lac3.jpg) no-repeat center center;
  background-size: cover;
}

.txt_lac{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  height: 90%;
  color: rgb(230, 213, 184);
  font-size: 25px;
  font-weight: bold;
}