@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');



#main_new_zeland{
  /* overflow-x: hidden; */
}
#candy{
  font-size: 10rem;
  text-align: center;
  height:120vh;
  color: rgba(248, 241, 241, 0.9);
  font-family: 'Niconne', cursive;
  text-shadow: 5px 5px 0px rgba(235, 69, 43, 0.8),
                  10px 10px 0px rgba(239, 160, 50, 0.7),
                  15px 15px 0px rgba(70, 181, 155, 0.6),
                  20px 20px 0px rgba(1, 126, 127, 0.5),
                  25px 25px 0px rgba(5, 41, 57, 0.4),
                  30px 30px 0px rgba(193, 26, 43, 0.3);
  background: url(../Images/New_Zealand/fjord_2.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
}

.titre{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titre h2{
  font-size: 5rem;
  font-family: 'Niconne', cursive;
  color: rgba(20, 20, 20, 0.9);
}

.Card{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80vh;
  perspective: 900px;

}

#Fjord{
  background: url(../Images/New_Zealand/fjord_6.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 30%;
  left: 5%;
}

#Ville{
  background: url(../Images/New_Zealand/auckland.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 30%;
  left: 25%;
}

#Montagne{
  background: url(../Images/New_Zealand/tongariro_2.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 30%;
  right: 25%;
}

#Lac{
  background: url(../Images/New_Zealand/lac.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 30%;
  right: 5%;
}
.Liens_intra{
  text-decoration: none;
  color: rgba(20, 20, 20, 0.7);
  text-align: center;
}

.up-card{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: 0.5s all ease-out;
  transform: rotateX(60deg) scale(0.5);
  perspective: 900px;
}

.up-card:hover{
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: 0.5s all ease;
  z-index: 400;
}






/* ==============================FJORD============================= */

#FJORD{
  width: 100%;
  height: 120vh;
  /* background: url("./Images/New_Zealand/fjord.jpg") no-repeat center center; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.fjord_box{
  width: 75%;
  height: 35vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box_fjord{
  width: 49%;
  height: 100%;
}


#box_fjord_1{
  background: url(../Images/New_Zealand/fjord.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}




#box_fjord_2{
  background: url(../Images/New_Zealand/fjord.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#reverse{
  display: flex;
  flex-direction: row-reverse;
}




#box_fjord_3{
  background: url(../Images/New_Zealand/fjord.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.fjord_text{
  width: 49%;
  height: 100%;
  text-align: center;
  font-size: 22px;
  transform: scale(0);
  background: url(../Images/New_Zealand/fjord.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: red;
  text-shadow: 1px 1px 5px white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box_fjord_1:hover + .fjord_text{
  transform: scale(1);
  transition: all 0.3s ease-out;
}


#box_fjord_2:hover + .fjord_text{
  transform: scale(1);
  transition: all 0.3s ease-out;
}


#box_fjord_3:hover + .fjord_text{
  transform: scale(1);
  transition: all 0.3s ease-out;
}






#VILLE{
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: url(../Images/New_Zealand/auckland_2.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.left_ville{
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#video_ville{
  width: 95%;
  height: 70%;
}

#txt_ville{
  width: 95%;
  height: 25%;
  color: yellow;
  text-shadow: 2px 2px 10px black;
  text-align: center;
  font-size: 25px;
}




















.right_ville{
  width: 25%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.adresse_ville{
  width: 75%;
  height: 12%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adresse_ville a{
  text-decoration: none;
}


/* ===========================================MONTAGNE=========================================== */
#MONTAGNE{
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Third_Montagne{
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card_Montagne{
  width: 25%;
  height: 100%;
  border-radius: 5%;
}

#mont_cook{
  background: url(../Images/New_Zealand/mont_cook.jpg);
  background-size: cover;
}

#mont_ruapehu{
  background: url(../Images/New_Zealand/mont_ruapehu.jpg);
  background-size: cover;
}

#mont_taranaki{
  background: url(../Images/New_Zealand/mont_taranaki.jpg);
  background-size: cover;
}

#mont_ngauruhoe{
  background: url(../Images/New_Zealand/mont_ngauruhoe.jpg);
  background-size: cover;
}

#mont_tongario{
  background: url(../Images/New_Zealand/mont_tongario.jpg);
  background-size: cover;
}

#mont_tasman{
  background: url(../Images/New_Zealand/mont_tasman.jpg);
  background-size: cover;
}


/* ==================================FOOTER============================== */
.ul_footer {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
  margin:0;
  padding:0;
}

.ul_footer li {
  list-style:none;
  margin:0 5px;
}

.ul_footer li a .fa {
  font-size: 40px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

.ul_footer li a span {
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

.ul_footer li a {
  text-decoration: none;
  display:absolute;
  display:block;
  width:210px;
  height:80px;
  background: #fff;
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
.ul_footer li a:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
.ul_footer li a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.ul_footer li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

.ul_footer li:hover .fa {
  color:#fff;
}

.ul_footer li:hover span {
  color:#fff;
}

.ul_footer li:hover:nth-child(1) a{
  background: #3b5998;
}
.ul_footer li:hover:nth-child(1) a:before{
  background: #365492;
}
.ul_footer li:hover:nth-child(1) a:after{
  background: #4a69ad;
}

.ul_footer li:hover:nth-child(2) a{
  background: #00aced;
}
.ul_footer li:hover:nth-child(2) a:before{
  background: #097aa5;
}
.ul_footer li:hover:nth-child(2) a:after{
  background: #53b9e0;
}

.ul_footer li:hover:nth-child(3) a{
  background: #dd4b39;
}
.ul_footer li:hover:nth-child(3) a:before{
  background: #b33a2b;
}
.ul_footer li:hover:nth-child(3) a:after{
  background: #e66a5a;
}

.ul_footer li:hover:nth-child(4) a{
  background: #e4405f;
}
.ul_footer li:hover:nth-child(4) a:before{
  background: #d81c3f;
}
.ul_footer li:hover:nth-child(4) a:after{
  background: #e46880;
}

.footer_New_zealand{
  position: relative;
}
