/* *{
  border: 1px solid red;
} */
body{
  margin: 0px;
  padding: 0px;
}
#nav_acceuil{
  font-family: 'Righteous', cursive;
  width: 100%;
  background: rgb(121, 122, 126);
  color: rgb(224, 236, 228);
}
#nav_acceuil > ul{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#Acceuil a{
  color: white;
}
#Contact a{
  color: white;
}
#nav_acceuil li{
  list-style-type: none;
}
#nav_acceuil a{
  text-decoration: none;
}

#nav_acceuil > ul > li{
  position: relative;
  padding: 20px 30px;
}
#nav_acceuil > ul > li:hover{
  padding: 15px 30px 20px 30px;
}
.submenu{
  display: none;
}

#nav_acceuil li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 10;
}

.submenu > li{
  border-bottom: 2px solid black;
  padding: 15px 30px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: rgb(121, 122, 126);
}

#Acceuil:hover {
  border-top: 5px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}
#Voaygeurs:hover{
  border-top: 5px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}
#Continents:hover{
  border-top: 5px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}
#Contact:hover{
  border-top: 5px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}
.submenu > li:hover{
  background-color: rgba(0, 0, 0, 0.15);
  color: rgb(121, 122, 126);
  font-weight: bold;
}
.submenu > li a{
  color: white;
}
.sub_submenu{
  display: none;
}



.submenu > li:hover .sub_submenu{
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 100%;
  padding: 0px;
  z-index: 10;
  width: 150px;
}

.sub_submenu li{
  padding: 15px 30px;
  background-color: rgb(121, 122, 126);
  border-bottom: 2px solid black;
}

.sub_submenu li:hover{
  background-color: rgba(0, 0, 0, 0.15);
}
.sub_submenu li a{
  color: white;
}
.sub_submenu li:hover a{
  color: rgb(121, 122, 126);
}
