html{
	margin:0;
	padding:0;
	background:black;
	scroll-behavior: smooth;
}

body{
	margin:0;
	padding:0;
	overflow-x: hidden;
}

/* - ACCUEIL - */

#header_mobile{
	display:none;
	position:sticky;
	top:0;
	z-index:12;
	color:white;
	width:100%;
	text-align:center;
	justify-content: center;
	font-family:'Allerta', Courier;
}

#menu_cond{
	background:black;
}

#header_mobile ul{
	position:relative;
	width:100%;
	padding:0;
	margin-top:0;
	margin-bottom:0;
}

#header_mobile li{
	position:relative;
	display:flex;
	list-style-type: none;
	width:100%;
}

#header_mobile details, #header_mobile summary{
	position:relative;
	width:100%;
	list-style-type: none;
	display:flex;
	justify-content: center;
	flex-grow:1;
}

#header_mobile a{
	position:relative;
	text-decoration: none;
	color:white;
	width:100%;
	flex-grow:1;
}

#menu_cond, .voy_item, .cont_item, #header_mobile a, #header_mobile details summary{
	padding:2% 0 2% 0;
}

.menu_selector{
	background:#333;
	border-bottom:1px solid white;
}

.cont_item, .voy_item{
	background:#6699FF;
	border-bottom:1px solid white;
}

#cont_asie, #cont_amerique{
	background:black;
}

#cont_afrique ~ a, #cont_europe ~ a, #cont_oceanie ~ a, #jeremy ~a, #keany ~a, #theo ~a{
	background:white;
	color:black;
	border-bottom:1px solid black;
}

#header_accueil{
	position:relative;
}

#nav_acceuil{
	position:relative;
	z-index:5;
  	font-family: 'Allerta', cursive;
  	width: 100%;
  	background: white;
  	color: rgb(224, 236, 228);
  	box-shadow:0px 5px 5px rgba(0,0,0,0.4);
}

#nav_acceuil > ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  position: relative;
}

#nav_accueil a, .submenu a,{
  color: white;
  text-decoration: none;
}

#nav_acceuil li{
	position:relative;
	list-style-type: none;
}

#nav_acceuil ul li{
  position: relative;
  padding: 1% 3%;
}

.menu_buttons{
	position:relative;
	display:flex;
	width:8vw;
	font-size:calc(0.2em + 0.7vw);
	text-align:center;
	border-top:3px solid transparent;
	box-shadow:0px 5px 5px rgba(0,0,0,0.4);
	z-index:99;
	text-align:center;
	justify-content: center;
}

.menu_buttons:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  z-index:2;
}

.menu_buttons a{
	color:white;
	text-decoration:none;
}

.menu_buttons:hover{
	border-top:3px solid white;
	cursor:pointer;
}	

.menu_buttons:nth-child(2n-1){
	background-color:#169B62;
	transform:scaleY(1.5);
	border-radius:0 0 20% 20%;
}

.menu_buttons:nth-child(2n){
	background-color:#FF883E;
	transform:scaleY(1.5);
	border-radius: 0 0 20% 20%;
}

.menu_buttons:hover{
	z-index:99;
	animation: wiggle_down 1s 0s ease;
	animation-fill-mode: forwards;
}

.submenu, .sub_submenu{
  display: none;
  z-index:2;
}

.submenu{
  position: relative;
  text-align: center;
  width: 100%;
  z-index:2;
}

.continents_list:first-child{border-radius:20% 20% 0 0;}
.continents_list:last-child{border-radius:0 0 20% 20%;}
.continents_list:first-child li, .continents_list:last-child li{border-radius:20%;}
.continents_list:nth-child(4) li:first-child{border-radius:20% 20% 0 0;} .continents_list:nth-child(4) li:last-child{border-radius:0 0 20% 20%;}

.voyageur:first-child{border-radius:20% 20% 0 0;background:#FF883E;color:white;}
.voyageur:last-child{border-radius:0 0 20% 20%;background:#169B62;color:#FF883E;}
.voyageur:nth-child(2){background:white;color:#169B62;}
.voyageur:first-child li{border-radius:20%;}
.voyageur:last-child li{border-radius:20%;}
.voyageur:nth-child(2) li:first-child{border-radius: 20% 20% 0 0;} .voyageur:nth-child(2) li:last-child{border-radius:0 0 20% 20%;}

.voyageur{text-transform: uppercase;}

.continents_list:nth-child(4n-3){background:#169B62;color:#FF883E;}
.continents_list:nth-child(2n+2){background:white;color:#169B62;}
.continents_list:nth-child(3){background:#FF883E;color:white;}

.continents_list li{background:white;color:#FF883E;}

.submenu li{
	height: 6vh;
	display:flex;
	align-items:center;
	justify-content: center;
	position:relative;
	border-bottom:2px solid black;
	z-index:2;
}

.submenu li:hover{
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
}

.submenu li:hover .sub_submenu{
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 100%;
  padding: 0px;
  z-index: 2;
  width: 100%;
}

.sub_submenu li{
	background:white;
	border-bottom:2px solid black;
	border-left:2px solid black;
}

.sub_submenu li a{
	color:#FF883E;
}

.sub_submenu li:hover{
  background-color: rgba(0, 0, 0, 0.15);
}

.sub_submenu li:hover a{
  color: white;
}

/***************/

#bg_container{
	position:relative;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9024743686537114) 10%, rgba(0,0,0,0.7512138644520308) 20%, rgba(0,0,0,0) 100%);
	margin-top:-1%;
}

#bg_vid{
	position: relative; left: 50%; top: 0;
	transform: translateX(-50%);
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background-size:100%;
}

#bg_title{
	font-family:'Cambay', Courier;
	text-align:center;
	font-size: calc(20px + 1vw);
	color:white;
	margin:0;
}

#title_container{
	position:absolute;
	top:20%;
	left:50%;
	transform:translate(-50%,-50%);
	width:auto;
	padding:1% 2% 0.85% 2%;
	background: linear-gradient(0deg, #FF9900, #66FF00, #FF9900);
    background-size: 600% 600%;
    z-index:1;
    -webkit-animation: gradient_animation 0.8s 1.9s ease;
    -moz-animation: gradient_animation 0.8s 1.9s ease;
    animation: gradient_animation 0.8s 1.9s ease, move_up 1s 3s ease-in, opacity_down 0.8s 3s;
    animation-fill-mode: forwards;
}

#coin_gauche{
	content:"";
	position:absolute;
	background:white;
	height:2px;
	width:100%;
	transform:scaleX(0);
	transform-origin:left;
	bottom:0;
	left:0;
	animation: 0.5s linear 0.3s cadre1;
	animation-fill-mode: forwards;
}

#coin_droit{
	content:"";
	position:absolute;
	background:white;
	right:0;
	bottom:0;
	width:2px;
	height: 100%;
	transform:scaleY(0);
	transform-origin:bottom;
	animation: 0.3s linear 0.8s cadre2;
	animation-fill-mode: forwards;
}

#coin_droit_haut{
	content:"";
	position:absolute;
	background:white;
	top:0;
	right:0;
	width:100%;
	height:2px;
	transform:scaleX(0);
	transform-origin:right;
	animation: 0.5s linear 1.1s cadre3;
	animation-fill-mode: forwards;
}

#coin_gauche_haut{
	content:"";
	position:absolute;
	background:white;
	left:0;
	top:0;
	width:2px;
	height: 100%;
	transform:scaleY(0);
	transform-origin:top;
	animation: 0.3s linear 1.6s cadre4;
	animation-fill-mode: forwards;
}

#source_video{
	position:absolute;
	right:0;
	top:30%;
	transform:translateX(87%);
	font-family:'Cambay', Courier;
	color:white;
	font-size:1.3em;
	background:grey;
	padding:1% 2% 0.9% 1%;
	transition: all 0.5s;
	border-radius:6px 0 0 6px;
	box-shadow:3px 5px 4px rgba(0,0,0,0.6);
}

#source_video i{
	color:#FFCC00;
}

#source_video a{
	color:#FFCC00;
	text-decoration: none
}

#source_video:hover{
	transform:translateX(0);
	transition: all 1s;
}

#source_video a:hover{
	text-decoration: underline;
}

#anchors_container{
	position:absolute;
	width:100%;
	display:flex;
	justify-content: center;
	color:white;
	font-family:'Cambay', Courier;
	top:130%;
	left:50%;
	transform:translate(-50%,-50%);
	opacity:0;
	animation: move_up_alt 1s 3.3s ease-out, opacity_up 1s 3.3s;
	animation-fill-mode: forwards;
	z-index:10;
}

#anchors_container h2, #anchors_container h3{
	margin:1vw 2vw 1vw 2vw;
	text-align:center;
}

.bubble_container{
	width:15%;
	margin: 0 3.5vw 1vw 3.5vw;
	text-align:center;
}

.bubble{
	width:calc(15px + 10vw);
	height:calc(15px + 10vw);
	border-radius:50%;
	overflow:hidden;
	text-align:center;
	animation:squeeze 1s 3.3s ease-in;
	animation-fill-mode: forwards;
	z-index:2;
	margin-left:auto;
	margin-right:auto;
	box-shadow:5px 5px 8px rgba(0,0,0,0.6), -5px 5px 8px rgba(0,0,0,0.6);
}

#anchors_container a:hover .bubble img{
	transform:scale(1.1, 1.1);
	transform-origin:center;
	transition:0.3s ease-in-out;
}

.bubble img{
	width:200%;
	margin-left:-50%;
}

#galway img{
	margin-left:-60%;
	margin-bottom:35%;
}

#stpatrick img{
	margin-left:-30%;
	margin-bottom:20%;
}

#distillery img{
	margin-bottom:20%;
	margin-left:-30%;
}

#invisible_box{
	height:10vh;
	background:#000;
	z-index:4;
	box-shadow: 0px 20px 29px 0px rgba(0,0,0,0.75);
}

#main_ireland{
	position:relative;
	font-family:'Cambay', Courier;
}

.article_container{
	background:white;
	border-bottom:3px solid grey;
	color:#666666;
	display:flex;
	flex-wrap:wrap;
	width:100%;
	padding-bottom:3%;
	z-index:1;
}

.article_container:nth-child(2n){
	flex-direction:row-reverse;
}

#stpatrick_container{
	border-bottom:0px;
}

.article_container h3{
	margin-left:5%;
	margin-right:5%;
	letter-spacing: 0.1em;
	font-size:calc(0.8em + 1vw);
}

.article_container article{
	width:45vw;
	flex-grow:1;
	padding-right:3%;
	padding-left:3%;
	min-width:300px;
}

.figure_article{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	align-content:center;
	width:45vw;
	flex-grow:1;
	margin-left:auto;
	margin-right:auto;
}

.figure_article img{
	width:85%;
	margin-right:auto;
	margin-left:auto;
	min-width:300px;
}

.figure_article figcaption{
	width:85%;
	background:#CCCCCC;
	color:#666666;
	text-align:center;
}

#to_top{
	position:static;
	bottom:0;
	background:white;
	text-align:center;
}

#to_top a{
	font-size:2em;
	color:red;
}

/*** FOOTER ***/

#footer_bottom{
	position:relative;
	width:100%;
	display:flex;
	justify-content: space-around;
	text-align:center;
	flex-wrap:wrap;
	z-index:10;
}

#footer_bottom a{
	text-decoration:none;
	color:white;
}

#footer_bottom ul{
	padding:0;
}

#footer_bottom li{
	list-style-type: none;
}

#social_networks, #contact, #mentions{
	position:relative;
	margin-top:auto;
	margin-bottom:auto;
	min-width:250px;
}

#social_networks{
	width:10%;
}

#social_networks li:hover{
	transform:scale(1.3);
	transition:all 0.4s;
	list-style-type:initial;
	color:blue;
}

#networks_list{
	display:flex;
	justify-content: space-between;
	z-index:3;
}

#mentions li a{
	position:relative;
	text-align:center;
}

.underl{
	position:absolute;
	left:0;
	bottom:0;
	height:2px;
	width:100%;
	background:white;
	transform:scaleX(0);
}

#mentions li:hover .underl{
	transform:scaleX(1);
	transition: all 0.7s ease-in-out;
	transform-origin:center;
}

@media (width<700px){

	#bg_container video{
		display:none;
	}

	#bg_container{
		height: 35vh;
		background-size: 100%;
		background-repeat: no-repeat;
		background-image:
			linear-gradient(to bottom, rgba(255,255,255,0) 30%, rgba(0,0,0,0.81) 80%, rgba(0,0,0,1) 95%),
			url(../ressources/images/ireland.jpg);
	}

	#title_container{
		top:30%;
	}

	#anchors_container h2, #anchors_container h3{
		display:none;
	}

	#source_video{
		display:none;
	}

	#nav_accueil > ul{
		justify-content: space-between;
	}

	.submenu > li:hover .sub_submenu{
		left:-100%;
		border-left:0px;
		border-right:2px solid black;
	}

	#header_accueil{
		display:none;
	}

	#header_mobile{
		display:flex;
	}
}

@keyframes cadre1{
	0%{transform:scaleX(0);} 100%{transform:scaleX(1);}
}

@keyframes cadre2{
	0%{transform:scaleY(0);} 100%{transform:scaleY(1);}
}

@keyframes cadre3{
	0%{transform:scaleX(0);} 100%{transform:scaleX(1);}
}

@keyframes cadre4{
	0%{transform:scaleY(0);} 100%{transform:scaleY(1);}
}


@-webkit-keyframes gradient_animation {
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}
@-moz-keyframes gradient_animation {
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}
@keyframes gradient_animation {
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}

@keyframes move_up{
	0%{transform:translate(-50%, -50%);} 60%{transform:translate(-50%,-300%);} 100%{transform:translate(-50%,-300%);}
}

@keyframes move_up_alt{
	0%{transform:translate(-50%, -50%)} 
	40%{transform:translate(-50%,-170%)} 
	53%{transform:translate(-50%,-140%)}
	63%{transform:translate(-50%,-160%)}
	70%{transform:translate(-50%,-145%)}
	75%{transform:translate(-50%,-153%)}
	80%{transform:translate(-50%, -150%)}
	100%{transform:translate(-50%,-150%)}
}

@keyframes squeeze{
	0%{transform:scale(0.6, 1.4);} 
	40%{transform:scale(0.7, 1.3);} 
	53%{transform:scale(1,2, 0.8);}
	63%{transform:scale(1.1, 0.9);}
	70%{transform:scale(0.95, 1.05);}
	75%{transform:scale(1.03, 0.97);}
	80%{transform:scale(1,1);}
	100%{transform:scale(1,1);}
}

@keyframes opacity_down{
	0%{opacity:1;} 80%{opacity:0;} 100%{opacity:0;}
}

@keyframes opacity_up{
	0%{opacity:0;} 80%{opacity:1;} 100%{opacity:1;}
}

@keyframes wiggle_down{
	0%{transform:scaleY(1.5);}
	40%{transform:scaleY(1.8);}
	50%{transform:scaleY(1.4);}
	58%{transform:scaleY(1.65);}
	65%{transform:scaleY(1.43);}
	70%{transform:scaleY(1.55);}
	74%{transform:scaleY(1.48);}
	76%{transform:scaleY(1.5);}
	100%{transform:scaleY(1.5);}
}