html{
  margin:0;
  padding:0;
  background:white;
  scroll-behavior: smooth;
}

/* - ACCUEIL - */

#header_mobile{
  display:none;
  position:sticky;
  top:0;
  z-index:12;
  color:white;
  width:100%;
  text-align:center;
  justify-content: center;
  font-family:'Allerta', Courier;
}

#menu_cond{
  background:black;
}

#header_mobile ul{
  position:relative;
  width:100%;
  padding:0;
  margin-top:0;
  margin-bottom:0;
}

#header_mobile li{
  position:relative;
  display:flex;
  list-style-type: none;
  width:100%;
}

#header_mobile details, #header_mobile summary{
  position:relative;
  width:100%;
  list-style-type: none;
  display:flex;
  justify-content: center;
  flex-grow:1;
}

#header_mobile a{
  position:relative;
  text-decoration: none;
  color:white;
  width:100%;
  flex-grow:1;
}

#menu_cond, .voy_item, .cont_item, #header_mobile a, #header_mobile details summary{
  padding:2% 0 2% 0;
}

.menu_selector{
  background:#333;
  border-bottom:1px solid white;
}

.cont_item, .voy_item{
  background:#6699FF;
  border-bottom:1px solid white;
}

#cont_asie, #cont_amerique{
  background:black;
}

#cont_afrique ~ a, #cont_europe ~ a, #cont_oceanie ~ a, #jeremy ~a, #keany ~a, #theo ~a{
  background:white;
  color:black;
  border-bottom:1px solid black;
}

#header_accueil{
  position:relative;
}

#nav_acceuil{
  position:relative;
  z-index:5;
    font-family: 'Allerta', cursive;
    width: 100%;
    background: white;
    color: rgb(224, 236, 228);
    box-shadow:0px 5px 5px rgba(0,0,0,0.4);
}

#nav_acceuil > ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  position: relative;
}

#nav_accueil a, .submenu a,{
  color: white;
  text-decoration: none;
}

#nav_acceuil li{
  position:relative;
  list-style-type: none;
}

#nav_acceuil ul li{
  position: relative;
  padding: 1% 3%;
}

.menu_buttons{
  position:relative;
  display:flex;
  width:8vw;
  font-size:calc(0.2em + 0.7vw);
  text-align:center;
  border-top:3px solid transparent;
  box-shadow:0px 5px 5px rgba(0,0,0,0.4);
  z-index:99;
  text-align:center;
  justify-content: center;
}

.menu_buttons:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  z-index:2;
}

.menu_buttons a{
  color:white;
  text-decoration:none;
  flex-grow:1;
}

.menu_buttons:hover{
  border-top:3px solid white;
  cursor:pointer;
} 

.menu_buttons:nth-child(2n-1){
  background-color:#236EBA;
  transform:scaleY(1.5);
  border-radius:0 0 20% 20%;
}

.menu_buttons:nth-child(2n){
  background-color:#3399FF;
  transform:scaleY(1.5);
  border-radius: 0 0 20% 20%;
}

.menu_buttons:hover{
  z-index:99;
  animation: wiggle_down 1s 0s ease;
  animation-fill-mode: forwards;
}

.submenu, .sub_submenu{
  display: none;
  z-index:2;
}

.submenu{
  position: relative;
  text-align: center;
  width: 100%;
  z-index:2;
}

.continents_list:first-child{border-radius:20% 20% 0 0;}
.continents_list:last-child{border-radius:0 0 20% 20%;}
.continents_list:first-child li, .continents_list:last-child li{border-radius:20%;}
.continents_list:nth-child(4) li:first-child{border-radius:20% 20% 0 0;} .continents_list:nth-child(4) li:last-child{border-radius:0 0 20% 20%;}

.voyageur:first-child{border-radius:20% 20% 0 0;background:#66CCFF;color:#1A8CFF;}
.voyageur:last-child{border-radius:0 0 20% 20%;background:#A0DFFF;color:#1A8CFF;}
.voyageur:nth-child(2){background:#7FD4FF;color:#1A8CFF;}
.voyageur:first-child li{border-radius:20%;}
.voyageur:last-child li{border-radius:20%;}
.voyageur:nth-child(2) li:first-child{border-radius: 20% 20% 0 0;} .voyageur:nth-child(2) li:last-child{border-radius:0 0 20% 20%;}

.voyageur{text-transform: uppercase;}

.continents_list:nth-child(1){background:#66CCFF;color:#1A8CFF;}
.continents_list:nth-child(2){background:#7FD4FF;color:#1A8CFF;}
.continents_list:nth-child(3){background:#A0DFFF;color:#1A8CFF;}
.continents_list:nth-child(4){background:#BAE8FF;color:#1A8CFF;}
.continents_list:nth-child(5){background:#D7F1FE;color:#1A8CFF;}

.continents_list li{background:white;color:#FF883E;}

.submenu li{
  height: 6vh;
  display:flex;
  align-items:center;
  justify-content: center;
  position:relative;
  border-bottom:2px solid #1A8CFF;
  z-index:2;
}

.submenu li:hover{
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
}

.submenu li:hover .sub_submenu{
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 100%;
  padding: 0px;
  z-index: 2;
  width: 100%;
}

.sub_submenu li{
  background:white;
  border-bottom:2px solid #1A8CFF;
  border-left:2px solid #1A8CFF;
}

.sub_submenu li a{
  color:#1A8CFF;
}

.sub_submenu li:hover{
  background-color: rgba(0, 0, 0, 0.15);
}

.sub_submenu li:hover a{
  color: white;
}

/*** BODY ***/

body{
  margin:0;
  padding:0;
  overflow-x: hidden;
  position:relative;
  background:#1A4D80;
}

#main_accueil{
  position:relative;
}

#accueil_bg{
  position:relative;
  width: 100vw; height: 30vh;
  margin-right:auto;
  margin-left:auto;
  background-size:100%;
  display:flex;
  justify-content: center;
  object-fit: cover;
}

#accueil_bg img{
  position:absolute;
  top:10%;
  transform-origin:center;
  -webkit-animation: rotation_globe 35s linear infinite;
  -moz-animation: rotation_globe 35s linear infinite;
  animation: rotation_globe 35s linear infinite;
}

#block_main{
  position:relative;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
}

#title_accueil{
  position:relative;
}

#block_main h1{
  margin:0;
  padding:1% 0;
  background:white;
  text-align:center;
  font-size:calc(2em + 2vw);
  font-family:'Gaegu', 'Courier';
  font-weight:bold;
  border-bottom:3px solid;
  border-image:linear-gradient(90deg, rgba(35,110,186,0) 0%, rgba(35,110,186,1) 30%, rgba(35,110,186,1) 50%, rgba(35,110,186,1) 70%, rgba(35,110,186,0) 100%);
  border-image-slice:1;
  border-radius:50% 50% 0 0;
  color:#236EBA;
}

#rf, #lf{
  position:absolute;
  z-index:3;
  width:4%;
  left:0;
  bottom:0;
}

#lf{
  bottom:10%;
  animation:left_feet_animation 10s 0.6s steps(1, end) infinite;
}

#rf{
  animation:right_feet_animation 10s 0s steps(1, end) infinite;
}

#description_accueil{
  background:white;
  justify-content: center;
  width:100%;
  text-align:center;
  font-family:'Allerta', Courier;
  color:#1A4D80;
  overflow:hidden;
}

#description_accueil summary{
  display:flex;
  justify-content: center;
  align-items:center;
  list-style-type: none;
  height:10vh;
  background:url("../ressources/images/bg_presentation.jpg");
  background-size:100%;
  background-position:center;
}

#description_accueil summary:hover{
  cursor:pointer;
  transform:scale(1.03);
  transform-origin:center;
  transition:transform 0.6s;
}

#description_accueil h2{
  margin:0;
  font-size:calc(1.2em + 1.2vw);
  font-family:'Cambay', Courier;
  color:white;
  filter:blur(0.3px);
  opacity:0.85;
}

#description_accueil details[open] #description_flex{
  animation:details_down 500ms 0s ease, opacity_up 500ms 0ms ease;
  animation-fill-mode:forwards;
}

#description_flex{
  display:flex;
  flex-direction:column-reverse;
}

#jeremy_sign{font-family:'Beth Ellen', Courier;font-weight:500;}
#keany_sign{font-family:'Ruthie', Courier;font-size:1.7em;font-weight:bolder;}
#theo_sign{font-family:'Gloria Hallelujah', Courier;font-weight:600;}

#description_accueil article{
  padding:1% 2%;
}

#description_accueil aside{
  border-bottom:3px solid;
  border-image:linear-gradient(90deg, rgba(35,110,186,0) 0%, rgba(35,110,186,0) 20%, rgba(100,100,100,1) 50%, rgba(35,110,186,0) 80%, rgba(35,110,186,0) 100%);
  border-image-slice:1;
  padding:2% 2%;
}

#description_accueil aside img{
  width:40%;
  height:100%;
}

.gallery_preview{
  position:relative;
  background:white;
}

.gallery_preview[open] .content{
  animation:details_down 500ms 0s ease, opacity_up 500ms 0ms ease;
  animation-fill-mode:forwards;
}

#gallery summary{
  position:relative;
  width:101%;
  transform-origin:center;
  height:10vh;
  list-style-type:none;
}

#gallery summary:hover{
  cursor:pointer;
  transform:scaleX(1.03);
  transform-origin:center;
  transition:transform 0.6s;
}

#nz_accueil summary{
  background:url("../ressources/images/newzealand_accueil.jpg");
  background-size:100%;
  background-position:bottom;
}

#ireland_accueil summary{
  background:url("../ressources/images/ireland_accueil.jpg");
  background-size:100%;
  background-position:bottom;
}

#norway_accueil summary{
  background:url("../ressources/images/norway_accueil.jpg");
  background-size:100%;
  background-position:bottom;
}

#gallery details h2{
  top:30%;
  transform:translateY(-50%);
  position:absolute;
  z-index:4;
  color:white;
  font-size:calc(1.2em + 1.2vw);
  font-family:'Cambay', Courier;
  filter:blur(0.3px);
  opacity:0.85;
}

#nz_accueil h2, #norway_accueil h2{
  left:2%;
}

#ireland_accueil h2{
  right:3%;
}

.content{
  background:#3399FF;
  position:relative;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
}

#ireland_accueil .content{
  flex-direction:row-reverse;
}

.content p, .content aside{
  width:46%;
  flex-grow:1;
  margin:0;
  min-width:300px;
}

.content aside{
  display:flex;
}

.content p{
  font-family:'Cambay', courier;
  font-size:calc(0.8em+0.8vw);
  color:white;
  padding: 1% 2% 1% 2%;
}

.content a{
  color:#1A4D80;
  text-decoration:none;
}

.content a:hover{
  text-decoration:underline;
}

.content img{
  flex-grow:1;
  width:100%;
  height:100%;
}

#gallerie_photo{
  width:100%;
  height:50vh;
  position:relative;
  background:white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "photo1 photo1 photo2 photo2 photo2 photo3 photo3"
    "photo1 photo1 photo4 photo4 photo4 photo3 photo3"
    "photo5 photo5 photo4 photo4 photo4 photo3 photo3"
    "photo5 photo5 photo6 photo6 photo7 photo7 photo7"
    "photo5 photo5 photo6 photo6 photo7 photo7 photo7";
  object-fit:fill;
  object-fit:cover;
}

.photo1 { grid-area: photo1; }
.photo2 { grid-area: photo2; }
.photo3 { grid-area: photo3; }
.photo4 { grid-area: photo4; }
.photo5 { grid-area: photo5; }
.photo6 { grid-area: photo6; }
.photo7 { grid-area: photo7; }


#gallerie_photo img{
  width:100%;
  height:100%;
  border:1px solid black;
  object-fit:cover;
}

/*** FOOTER ***/

#footer_bottom{
  position:relative;
  width:100%;
  display:flex;
  justify-content: space-around;
  text-align:center;
  flex-wrap:wrap;
  z-index:10;
  background:black;
  font-family:'Allerta', Courier;
}

#footer_bottom a{
  text-decoration:none;
  color:white;
}

#footer_bottom ul{
  padding:0;
}

#footer_bottom li{
  list-style-type: none;
}

#social_networks, #contact, #mentions{
  position:relative;
  margin-top:auto;
  margin-bottom:auto;
  min-width:250px;
}

#social_networks{
  width:10%;
}

#social_networks li:hover{
  transform:scale(1.3);
  transition:all 0.4s;
  list-style-type:initial;
  color:blue;
}

#networks_list{
  display:flex;
  justify-content: space-between;
  z-index:3;
}

#mentions li a{
  position:relative;
  text-align:center;
}

.underl{
  position:absolute;
  left:0;
  bottom:0;
  height:2px;
  width:100%;
  background:white;
  transform:scaleX(0);
}

#mentions li:hover .underl{
  transform:scaleX(1);
  transition: all 0.7s ease-in-out;
  transform-origin:center;
}

@media (width<700px){

  #bg_container video{
    display:none;
  }

  #bg_container{
    height: 35vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:
      linear-gradient(to bottom, rgba(255,255,255,0) 30%, rgba(0,0,0,0.81) 80%, rgba(0,0,0,1) 95%),
      url(../ressources/images/ireland.jpg);
  }

  #title_container{
    top:30%;
  }

  #anchors_container h2, #anchors_container h3{
    display:none;
  }

  #source_video{
    display:none;
  }

  #nav_accueil > ul{
    justify-content: space-between;
  }

  .submenu > li:hover .sub_submenu{
    left:-100%;
    border-left:0px;
    border-right:2px solid black;
  }

  #header_accueil{
    display:none;
  }

  #header_mobile{
    display:flex;
  }

  #block_main{
    width:100%;
  }

  #block_main h1{
    border-top:3px solid;
    border-radius:0;
  }

  #description_accueil aside img{
  width:100%;
  }


}

@keyframes cadre1{
  0%{transform:scaleX(0);} 100%{transform:scaleX(1);}
}

@keyframes cadre2{
  0%{transform:scaleY(0);} 100%{transform:scaleY(1);}
}

@keyframes cadre3{
  0%{transform:scaleX(0);} 100%{transform:scaleX(1);}
}

@keyframes cadre4{
  0%{transform:scaleY(0);} 100%{transform:scaleY(1);}
}


@-webkit-keyframes gradient_animation {
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}
@-moz-keyframes gradient_animation {
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}
@keyframes gradient_animation {
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}

@keyframes move_up{
  0%{transform:translate(-50%, -50%);} 60%{transform:translate(-50%,-300%);} 100%{transform:translate(-50%,-300%);}
}

@keyframes move_up_alt{
  0%{transform:translate(-50%, -50%)} 
  40%{transform:translate(-50%,-170%)} 
  53%{transform:translate(-50%,-140%)}
  63%{transform:translate(-50%,-160%)}
  70%{transform:translate(-50%,-145%)}
  75%{transform:translate(-50%,-153%)}
  80%{transform:translate(-50%, -150%)}
  100%{transform:translate(-50%,-150%)}
}

@keyframes squeeze{
  0%{transform:scale(0.6, 1.4);} 
  40%{transform:scale(0.7, 1.3);} 
  53%{transform:scale(1,2, 0.8);}
  63%{transform:scale(1.1, 0.9);}
  70%{transform:scale(0.95, 1.05);}
  75%{transform:scale(1.03, 0.97);}
  80%{transform:scale(1,1);}
  100%{transform:scale(1,1);}
}

@keyframes opacity_down{
  0%{opacity:1;} 80%{opacity:0;} 100%{opacity:0;}
}

@keyframes opacity_up{
  0%{opacity:0;} 80%{opacity:1;} 100%{opacity:1;}
}

@keyframes wiggle_down{
  0%{transform:scaleY(1.5);}
  40%{transform:scaleY(1.8);}
  50%{transform:scaleY(1.4);}
  58%{transform:scaleY(1.65);}
  65%{transform:scaleY(1.43);}
  70%{transform:scaleY(1.55);}
  74%{transform:scaleY(1.48);}
  76%{transform:scaleY(1.5);}
  100%{transform:scaleY(1.5);}
}

@keyframes rotation_globe{
  0%{
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform:rotate(0deg);
    } 
  100%{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
    }
}

@keyframes details_down{
  0%{font-size:0em;}
  100%{font-size:1em;}
}

@keyframes opacity_up{
  0%{opacity:0;}
  100%{opacity:1;}
}

@keyframes right_feet_animation{
  0%{transform:translateX(2vw);}
  10%{transform:translateX(10vw) translateY(-0.5vh) rotate(-8deg);}
  20%{transform:translateX(16vw) translateY(-2vh) rotate(-35deg);}
  30%{transform:translateX(24vw) translateY(-5vh) rotate(5deg);}
  40%{transform:translateX(32vw) translateY(-1vh) rotate(20deg);}
  50%{transform:translateX(40vw) translateY(1vh) rotate(0deg);}
  60%{transform:translateX(48vw) translateY(0vh) rotate(-15deg);}
  70%{transform:translateX(56vw) translateY(-2.5vh) rotate(-40deg);}
  80%{transform:translateX(64vw) translateY(-4.5vh) rotate(-5deg);}
  90%{transform:translateX(72vw) translateY(-1vh) rotate(20deg);}
  100%{transform:translateX(80vw) translateY(0) rotate(0);}
}

@keyframes left_feet_animation{
  0%{transform:translateX(6vw);}
  10%{transform:translateX(12vw) translateY(-2vh) rotate(-8deg);}
  20%{transform:translateX(20vw) translateY(-5vh) rotate(-35deg);}
  30%{transform:translateX(28vw) translateY(-6vh) rotate(5deg);}
  40%{transform:translateX(36vw) translateY(-2vh) rotate(20deg);}
  50%{transform:translateX(44vw) translateY(0vh) rotate(0deg);}
  60%{transform:translateX(52vw) translateY(-2vh) rotate(-30deg);}
  70%{transform:translateX(60vw) translateY(-4vh) rotate(-15deg);}
  80%{transform:translateX(68vw) translateY(-6vh) rotate(10deg);}
  90%{transform:translateX(76vw) translateY(-2vh) rotate(20deg);}
  100%{transform:translateX(84vw) translateY(-0.8vh) rotate(0);}
}